# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\ECI\ARSW\TAREAS\preparcial\ARSW-MoneyLaunderingTest\ARSW-MoneyLaunderingTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
